[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
x509_extensions    = v3_req

[ dn ]
C  = PL
ST = Mazowieckie
L  = Warszawa
O  = MojaFirma
CN = localhost

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 172.22.38.18
IP.2 = 192.168.49.1
IP.3 = 172.18.0.1
IP.4 = 172.17.0.1
DNS.1 = localhost